* {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 150px;
  /*background-color: green;*/
}

hr {
  width: 580px;
  border-color: black;
}

#verticalImg {
  display: inline-block;
  position: absolute;
  width: 300px;
}

.horizontalLine {
  border-bottom: : 2px solid black;
  position: absolute;
  height: 80px;
  width: 2px;
  display: inline-block;
}

#horizL1 {

}

.verticalLine {
  border-left: 2px solid black;
  position: absolute;
  height: 80px;
  width: 2px;
  display: inline-block;
}

#vertL1 {
  left: 429px;
}

#vertL3 {
  right: 427px;
}

.leftFixedContainer {
  position: fixed;
  font-size: 40px;
  margin: 10px;
  top: 25%;
}

#fixedLetters {
  font-size: 40px;
}

.iconLinks {
  display: block;
}

.titleContainer {
  /*background-color: pink;*/
  margin: 100px auto;
  padding-left: 180px;
  padding-right: 180px;
}

.nameTitle {
  opacity: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /*height: 250px;*/
  font-size: 150px;
}

.bubbleContainer {
  /*background-color: lightgrey;*/
  text-align: center;
}

.iconLinks {
  /*margin-top: -20px;*/
  /*background-color: green;*/
  /*height: 10px;
  width: 10px;*/
  /*text-align: center;*/
}

.linkContainer {
  /*background-color: pink;*/
  margin-top: -18px;
  /*margin: auto;*/
  text-align: center;
  /*margin-left: -5px;*/
}

.imagelink {
  height: 48px;
  width: 48px;
}

/*BUTTONS*/
.bubble {
  /*visibility: hidden;*/
  opacity: 0;
  display: inline-block;
  margin: 0px 40px 30px 40px;
  width: 200px;
  height: 200px;
  /*border: 2px solid #FAFAFA;*/
  border: 2px solid #999999;
  font-size: 30px;
  border-radius: 50%;
  line-height: 120px;
}

.bubbleHeaders {
  /*color: #FAFAFA;*/
  color: #999999;
}

.bubbleHeaders:hover {
  color: #222;
}
.bubble:hover {
  border: 2px solid #222;
}

/*MODALS*/
.modalContainer {
  /*background-color: blue;*/
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  height: 600px;
}

.modals{
  visibility: hidden;
  /*margin: auto;*/
  position: absolute;
  /*width: 95%;*/
  padding: 20px;
  font-size: 25px;
  /*border: 1px solid black;*/
  overflow-y: scroll;
}

/*----ABOUT ME MODAL----*/
#modalAboutMe {
  /*background-color: red;*/
  width: 700px;
}

/*----PROJECTS MODAL----*/
#modalProjects {
  /*background-color: pink;*/
  width: 700px;
  height: 500px;
  /*overflow-y: scroll;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  /*justify-content: center;*/
}
.projectContainer {
  /*background-color: blue;*/
  /*overflow-y: scroll;*/
}
.eachProject {
  /*overflow-y: scroll;*/
  /*background-color: red;*/
  border: 1px dotted black;
  display: inline-block;
  margin: 5px;
  height: 300px;
  width: 335px;
}

.eachProjectPopup {
  background-color: grey;
  width: 335px;
  height: 300px;
  position: absolute;
  opacity: 0.98;
  visibility: hidden;
}

.description {
  /*background-color: red;*/
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  /*margin: auto;*/
}

.projHeader {
  margin: 30px 35px;
}

.projectDescr {
  display: inline-block;
  width: 400px;
  margin: auto 35px;
}

.imgProject {
  display: inline-block;
  height: 60%;
  width: 60%;
  /*height: 300px;*/
  /*width: 350px;*/
  /*margin: 0 auto;*/
}

.simonSaysImg {
  height: 50%;
  width: 50%;
}

.alinks {
  text-decoration: none;
  color: black;
}

/*----CONTACT MODAL----*/
#modalContact {
  /*background-color: orange;*/
  width: 450px;
  border: none;
  margin-top: 25px;
}

.formButton {
  width: 70px;
  height: 40px;
  font-size: 20px;
  /*margin-top: -15px;*/
  /*display: inline-block;*/
}

.formButtonContainer {
  margin-top: -15px;
  /*background-color: pink;*/
}

.commentLabel {
  /*height: 100px;*/
  width: 50px;
}

.inputTitle {
  width: 250px;
  height: 25px;
  font-size: 20px;
}

#contactComment {
  margin-top: 9px;
  width: 350px;
  height: 100px;
  font-size: 20px;
}

