* {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
  font-size: 150px;
  /*background-color: green;*/
}

hr {
  width: 580px;
  border-color: black;
}

#verticalImg {
  display: inline-block;
  position: absolute;
  width: 300px;
}

.horizontalLine {
  border-bottom: : 2px solid black;
  position: absolute;
  height: 80px;
  width: 2px;
  display: inline-block;
}

#horizL1 {

}

.verticalLine {
  border-left: 2px solid black;
  position: absolute;
  height: 80px;
  width: 2px;
  display: inline-block;
}

#vertL1 {
  left: 429px;
}

#vertL3 {
  right: 427px;
}


#fixedLetters {
  position: fixed;
  font-size: 40px;
  margin: 20px;
  top: 10px;
}

.bubbleContainer {
  background-color: lightgrey;
  text-align: center;
}

/*BUTTONS*/
.bubble {
  /*visibility: hidden;*/
  display: inline-block;
  margin: 70px 40px 30px 40px;
  width: 200px;
  height: 200px;
  border: 2px solid #FAFAFA;
  font-size: 30px;
  border-radius: 50%;
  line-height: 120px;
}

.bubbleHeaders {
  color: #FAFAFA;
}

.bubbleHeaders:hover {
  color: #222;
}
.bubble:hover {
  border: 2px solid #222;
}

/*MODALS*/
.modalContainer {
  /*background-color: blue;*/
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modals{
  visibility: hidden;
  /*margin: auto;*/
  position: absolute;
  /*width: 95%;*/
  padding: 20px;
  font-size: 25px;
  /*border: 1px solid black;*/
  overflow-y: scroll;
}

/*----ABOUT ME MODAL----*/
#modalAboutMe {
  /*background-color: red;*/
  width: 700px;
}

/*----PROJECTS MODAL----*/
#modalProjects {
  /*background-color: blue;*/
  width: 800px;
  height: 500px;
  /*overflow-y: scroll;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: center;*/
}
.projectContainer {
  /*background-color: blue;*/
  /*overflow-y: scroll;*/
}
.eachProject {
  /*overflow-y: scroll;*/
  /*background-color: red;*/
  border: 1px dotted black;
  display: inline-block;
  margin: 5px;
  height: 300px;
  width: 350px;
}
.projHeader {
  margin: 30px 35px;
}
.projectDescr {
  display: inline-block;
  width: 400px;
  margin: auto 35px;
}
.imgProject {
  display: inline-block;
  height: 60%;
  width: 60%;
  /*height: 300px;*/
  /*width: 350px;*/
  /*margin: 0 auto;*/
}
.simonSaysImg {
  height: 50%;
  width: 50%;
}


/*----CONTACT MODAL----*/
#modalContact {
  /*background-color: orange;*/
  width: 450px;
  border: none;
  margin-top: 30px;
}

.formButton {
  width: 70px;
  height: 40px;
  font-size: 20px;
}

.commentLabel {
  /*height: 100px;*/
  width: 50px;
}

#contactComment {
  width: 200px;
  height: 20px;
}
